#navbar-principal {
  padding: 0rem 0rem;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  float: none;
}

.dropdown-item {
  color: white;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: white;
  text-decoration: none;
  background-color: #465154;
}

.icon-arrow {
  font-size: 0.6em;
  color: white;
}

.navbar .navbar-sidebar-toggle,
.navbar .navbar-toggle {
  border: none;
  border-right: none;
  line-height: 10px;
}

.navbar .navbar-sidebar-toggle:hover,
.navbar .navbar-toggle:hover,
.navbar .navbar-sidebar-toggle:active,
.navbar .navbar-toggle:active {
  background: none;
  outline: none;
}

.left-sidebar .sidebar-nav .sidebar-nav-link.active > a,
.left-sidebar .sidebar-nav .sidebar-nav-link.open > a {
  cursor: pointer;
  border-left: #bf0411 3px solid;
  color: #fff;
}

.left-sidebar .sidebar-nav .sidebar-nav-heading {
  text-align: center;
}

.logo-inside {
  width: 55%;
}

.logo-login {
  max-width: 250px;
}

.login-display {
  display: none;
}

.form-login {
  width: 100%;
  max-width: 370px;
  padding: 15px;
  margin: auto;
}

.form-change-password {
  padding: 15px;
}

.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.page-header {
  background: #424b4f;
  padding: 15px 0;
}

.page-header .page-header-heading {
  font-size: 20px;
}

.table {
  font-size: 0.9em;
}

.table-dark-theme {
  color: #fff;
  background-color: #4b5357;
}

.table-dark-theme-console {
  color: #fff;
  background-color: #4b5357;
  border: 4px solid #888888;
}

.table-hover tbody tr:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.075);
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: none;
}

.form-control:focus {
  color: #FDFDFD;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-red-one {
  color: #fff;
  background-color: #bf0411;
  border-color: #bf0411;
}

.btn-red-one:hover {
  color: white;
  text-decoration: none;
}

.btn-red-one.focus,
.btn-red-one:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #bf0411;
}

.dt-buttons {
  margin-bottom: -40px;
  font-weight: bold;
}

.card {
  background-color: black;
}

.modal-size-600 {
  max-width: 600px;
}

.modal-size-700 {
  max-width: 700px;
}

.modal-size-800 {
  max-width: 800px;
}

.modal-size-950 {
  max-width: 950px;
}

.modal-size-1000 {
  max-width: 1000px;
}

.form-modal {
  margin-top: 30px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #2f3233;
}

.nav-item a {
  color: #cccccc;
}

.nav-link {
  display: block;
  padding: 0.3rem 1rem;
}

.line-gray {
  border: 0;
  border-top: 1px solid #888;
}

.dataTable > thead > tr > th[class*=sort]:after {
  content: "" !important;
}

.btn-add-dt {
  position: relative;
  margin-bottom: -45px;
  z-index: 1000;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

.area-cropper {
  position: relative;
  width: 500px;
  height: 236px;
  margin: 0 auto;
}

.img-example {
  width: 200px;
  border: 4px #cccccc solid;
  padding: 2px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

.pagination > li > a {
  background: #3f4649;
  border-color: #282c2e;
  color: white;
}

.pagination > li.disabled > a:hover,
.pagination > li.disabled > a:focus {
  background: #3f4649;
  border-color: #282c2e;
  color: white;
}

.page-item.disabled .page-link {
  color: white;
  pointer-events: none;
  cursor: auto;
  background-color: #3f4649;
  border-color: #282c2e;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  background-color: white !important;
}

.form-select-event {
  width: 18rem;
}

.form-select-event-tools {
  width: 85%;
  display: initial;
}

.section-herramientas {
  border: 4px solid #888888;
}

.section-parametros {
  border-top: 4px solid #888888;
  border-right: 4px solid #888888;
  border-bottom: 4px solid #888888;
}

.icon-console {
  cursor: pointer;
}

.container-tools {
  padding-left: 10px;
  padding-right: 10px;
}

.icon-img-console {
  width: 80%;
  cursor: pointer;
}

.hr-tools {
  border-top: 1px solid #777;
}

.fullscreen-enabled .content-wrapper {
  margin-left: 0px;
}

.ms-drop ul > li label {
  font-weight: normal;
  display: inline-block !important;
  white-space: nowrap;
  color: #495057;
}

.ms-choice {
  display: block;
  width: 0px !important;
  height: 0px !important;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #aaa;
  text-align: left;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  background-color: #fff;
  color: #495057;
}

.ms-choice > span {
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding-left: 8px;
  color: white;
}

